registry=https://verdaccio.managed-solutions.cloud.ibm.com
//verdaccio.managed-solutions.cloud.ibm.com/:_password=VDNzdHBhc3NEZW1vMmRlbW8h
//verdaccio.managed-solutions.cloud.ibm.com/:username=dev
//verdaccio.managed-solutions.cloud.ibm.com/:email=dev@nomail.relay.ibm.com
//verdaccio.managed-solutions.cloud.ibm.com/:always-auth=true
